In [12]:
from sklearn.neural_network import MLPClassifier
from sklearn import preprocessing
import pandas as pd
import json
from pandas.io.json import json_normalize
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
X = [[0., 0.], [1., 1.]]

In [4]:
y = [0, 1]
clf = MLPClassifier(solver='lbfgs', alpha=1e-5,
                    hidden_layer_sizes=(5, 2), random_state=1)

clf.fit(X, y)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(5, 2), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       solver='lbfgs', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

In [5]:
clf.predict([[-5, 1], [-13., -2.]])

array([0, 0])

In [6]:
[coef.shape for coef in clf.coefs_]

[(2, 5), (5, 2), (2, 1)]

In [2]:
dfStockData = pd.read_json("data/TSLA_stocks.json").transpose()
dfStockData.head()

            1. open   2. high   3. low  4. close  5. volume
2018-11-05   340.50  343.9550  330.140    341.40  7829954.0
2018-11-02   343.74  349.2000  340.910    346.41  7807971.0
2018-11-01   338.26  347.8400  334.725    344.28  8000132.0
2018-10-31   332.54  342.0000  329.100    337.32  7624348.0
2018-10-30   328.39  337.8999  322.260    329.90  9126704.0

In [49]:
for i in range(11275):
    df = json.load(open("data/messages/resp_%s.json" % i))
    dftemp = json_normalize(df['messages'])
    dfTweet = dfTweet.append(dftemp[['body', 'created_at']], ignore_index=True)
print(dfTweet)

                                                     body  \
0       $TSLA very small put add today. Waiting for th...
1                   $TSLA target 370 for the short Again?
2               Whole new company now shorts beware $TSLA
3              $TSLA Scary scary üêª TSLA‚Äôs coming for you!
4       $TSLA max pain is 315 for expiry 2018-11-02 So...
5       $TSLA Happy Halloween all. And this one is ded...
6       $TSLA the action this week builds confidence. ...
7       $TSLA AUTO PARK!! yes!!! When I gotta grab a q...
8       $TSLA Charts show 344 is where this maxes out ...
9                         $TSLA I love your kinda crazy üòú
10      $TSLA jumps to #1 in global plug-in electric c...
11      10-31-2018 Potential Whale Trades for $TSLA (L...
12                       $TSLA chairmen announcement soon
13      $TSLA there is no truth to the rumor I share t...
14      $TSLA everyone want&#39;s the treat but will i...
15      $TSLA will need some strong fresh news to brea...
16      $TSLA out of the darkness (QQQ -9%) a new üëë sh...
17      $TSLA üéÉ Highest ever stock price on  Halloween! üéÉ
18      $TSLA is a safe place to park your $$$ but $AM...
19      $tsla When do i believe this correction will e...
20      $TSLA Starting a list of usernames to taunt wh...
21                                  $SOLO $NIO $TSLA $TTM
22                     $TSLA buying more on any pull back
23      Peak gain % for last 5 expired setups $TSLA 30...
24      $TSLA imagine that fb files their 10Q the day ...
25      @eclass @blackcherry Literally, Tesla held me ...
26      $TSLA wonder why all the big purchases at SP 3...
27      $TSLA shorts are TOAST! yet another short sell...
28      $TSLA \n\nTesla is way too undervalued.\n\nüëáüèª ...
29      $TSLA Remember the only one you are fighting a...
...                                                   ...
339439              $TSLA suspends production is not good
339440  $TSLA https://www.youtube.com/watch?v=tls-k39rrUE
339441  $TSLA Elon made a fool out of himself this wee...
339442  $TSLA Kimble Musk is raffling off a fully load...
339443                                   $TSLA jumps tomm
339444  $TSLA   \nElon Musk, speaking at SXSW, project...
339445  good spot, thanks @mrkd ... though when he lau...
339446  $TSLA haha you&#39;re telling me. not sure if ...
339447  WeeklyAlgoWatchlist# March11,2018: goo.gl/AqWC...
339448  $TSLA brown-nose much? https://www.engadget.co...
339449  $FCAU $TSLA https://www.bbc.co.uk/news/amp/bus...
339450  $TSLA production offline for five days in late...
339451  RT $TSLA   http://maximum-pain.com/twitter/fol...
339452  $TSLA is one of the better performing stocks i...
339453  Estimize revenue expectations are 4.49% higher...
339454  $AAPL $TSLA $MU $MSFT $IBM $GE $NFLX $AMZN $FB...
339455  $TSLA , Final paragraph of Bloomberg productio...
339456  $TSLA #Tesla http://quad7capital.com/2018/03/1...
339457  $TSLA , I really don&#39;t think Felon Muck he...
339458  My article Why I Trade Options http://bit.ly/2...
339459  Weekly Recap $QQQ $SPY $MU $INTC $TSLA $NFLX $...
339460  $TSLA seems like a decent resource to keep tra...
339461  $TSLA @mrkd This Tesla shorter is clueless. Ca...
339462                    $TSLA Waiting for $290&#39;s...
339463                 $TSLA https://youtu.be/5TMnH4foxM0
339464  Here‚Äôs what 37 Estimize analysts believe $TSLA...
339465  $TSLA $SPY looking at him gets me high! Dude i...
339466  $TSLA Insiders adding shares recntly, anyways ...
339467  $TSLA not looking great. $321, $317 take it to...
339468  $TSLA been in this range for almost a year. RS...

                  created_at
0       2018-10-31T21:20:53Z
1       2018-10-31T21:20:53Z
2       2018-10-31T21:19:49Z
3       2018-10-31T21:16:54Z
4       2018-10-31T21:15:52Z
5       2018-10-31T21:14:07Z
6       2018-10-31T21:13:02Z
7       2018-10-31T21:12:41Z
8       2018-10-31T21:09:22Z
9       2018-10-31T21:08:24Z
10      2018-10-31T21:04:01Z
11      2018-10-31T21:03:35Z
12      2018-10-31T21:00:50Z
13      2018-10-31T20:59:21Z
14      2018-10-31T20:59:18Z
15      2018-10-31T20:58:44Z
16      2018-10-31T20:58:05Z
17      2018-10-31T20:56:31Z
18      2018-10-31T20:56:20Z
19      2018-10-31T20:55:10Z
20      2018-10-31T20:54:16Z
21      2018-10-31T20:51:49Z
22      2018-10-31T20:51:39Z
23      2018-10-31T20:47:33Z
24      2018-10-31T20:42:54Z
25      2018-10-31T20:42:27Z
26      2018-10-31T20:41:41Z
27      2018-10-31T20:41:36Z
28      2018-10-31T20:41:07Z
29      2018-10-31T20:40:04Z
...                      ...
339439  2018-03-12T02:32:14Z
339440  2018-03-12T02:30:26Z
339441  2018-03-12T02:24:37Z
339442  2018-03-12T02:21:10Z
339443  2018-03-12T02:20:08Z
339444  2018-03-12T02:19:42Z
339445  2018-03-12T02:16:33Z
339446  2018-03-12T02:14:05Z
339447  2018-03-12T01:39:25Z
339448  2018-03-12T01:25:15Z
339449  2018-03-12T01:16:41Z
339450  2018-03-12T01:00:56Z
339451  2018-03-12T00:57:25Z
339452  2018-03-12T00:53:04Z
339453  2018-03-12T00:40:56Z
339454  2018-03-12T00:37:39Z
339455  2018-03-12T00:35:43Z
339456  2018-03-12T00:33:41Z
339457  2018-03-12T00:32:14Z
339458  2018-03-12T00:31:50Z
339459  2018-03-12T00:23:43Z
339460  2018-03-12T00:21:42Z
339461  2018-03-12T00:13:35Z
339462  2018-03-12T00:00:28Z
339463  2018-03-11T23:36:12Z
339464  2018-03-11T23:28:45Z
339465  2018-03-11T23:17:02Z
339466  2018-03-11T23:11:54Z
339467  2018-03-11T22:57:19Z
339468  2018-03-11T22:54:18Z

[339469 rows x 2 columns]

In [88]:
vectorizer = CountVectorizer(stop_words='english')
vectorizer.fit_transform(dfTweet['body']).todense()
vectorizer.vocabulary_
print(max(vectorizer.vocabulary_))

years

In [58]:
dfTweet.to_csv("clean_tweet_data.csv")

In [59]:
df = pd.read_csv("clean_tweet_data.csv")
df.tail()

,Unnamed: 0,body,created_at
339464,339464,Here‚Äôs what 37 Estimize analysts believe $TSLA...,2018-03-11T23:28:45Z
339465,339465,$TSLA $SPY looking at him gets me high! Dude i...,2018-03-11T23:17:02Z
339466,339466,"$TSLA Insiders adding shares recntly, anyways ...",2018-03-11T23:11:54Z
339467,339467,"$TSLA not looking great. $321, $317 take it to...",2018-03-11T22:57:19Z
339468,339468,$TSLA been in this range for almost a year. RS...,2018-03-11T22:54:18Z

In [60]:
df.tail()

,Unnamed: 0,body,created_at
339464,339464,Here‚Äôs what 37 Estimize analysts believe $TSLA...,2018-03-11T23:28:45Z
339465,339465,$TSLA $SPY looking at him gets me high! Dude i...,2018-03-11T23:17:02Z
339466,339466,"$TSLA Insiders adding shares recntly, anyways ...",2018-03-11T23:11:54Z
339467,339467,"$TSLA not looking great. $321, $317 take it to...",2018-03-11T22:57:19Z
339468,339468,$TSLA been in this range for almost a year. RS...,2018-03-11T22:54:18Z

-----

In [5]:
dfStockData["diff"] = dfStockData["4. close"] - dfStockData["1. open"]

In [10]:
dfStockMin = dfStockData.drop(columns=["1. open", "2. high", "3. low", "4. close", "5. volume"])

In [20]:
dfStockMin.index.name = "date"
dfStockMin.reset_index(inplace=True)

In [34]:
dfStockMin["date"] = pd.to_datetime(dfStockMin["date"])

In [31]:
# Do min/max normalization on diff values, to get values from -1 to 1
scaler = preprocessing.MinMaxScaler(feature_range=(-1,1))
vals = dfStockMin["diff"].values
vals = scaler.fit_transform(vals.reshape(-1,1))
dfStockMin["diff"] = vals

In [35]:
dfStockMin.to_csv("normed_stockdata.csv")